doctype html
html
  head
    title CheatChat
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='bootstrap-tour.css')
  body
    div.container
      div.modal.fade(id='setNick' tabindex='-1' role='dialog' aria-labelledby='setNick' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        div.modal-dialog
          div.modal-content
            div.modal-header(id='closeBtn')
              div.modal-title(align='center' id='nickMsg')
                h3 What's your nickname?
                div.errorMsg(id='error')
                  | Name has already been taken
              div.modal-body(align='center')
                input(type='text' maxLength='20' id='nickInput')

      div.modal.fade(id='createRoom' tabindex='-1' role='dialog' aria-labelledby='createRoom' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        div.modal-dialog
          div.modal-content
            div.modal-header(id='mapHeader')
              div.modal-title(align='center' id='mapTitle')
                h4 Chat Network Map
                h5 Click on any building marker to join in the conversation or create your own room!
              div.modal-body
                div.google-maps#mapholder
              div.modal-footer#creationSection
                  button.btn.btn-warning#rmCreate(data-dismiss='modal')
                    i.glyphicon.glyphicon-map-marker
                    | &nbsp; Create


      div.modal.fade(id='loading' tabindex='-1' role='dialog' aria-labelledby='loading' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        div.modal-dialog
          div.modal-content
            div.modal-header
              div.modal-body(align='center')
                .spinner
                  .rect1
                  .rect2
                  .rect3
                  .rect4
                  .rect5
                h5 loading geolocation.

      nav.navbar-default.navbar-fixed-top(role='navigation')
        div.navbar-header
          button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='/images/logo.png' width='92px' height='42px')
        div.collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              span.navbar-text(id='currentName')
          ul.nav.navbar-nav.navbar-right
            li
              span.navbar-text(id='locationStatus')
            li
              span(style='padding-right:100px')  &nbsp;

      div(id='chatEntries')

      div(class='alert alert-danger alert-dismissable' style='position:relative; visibility:hidden; bottom:50px')
        button(type='button' class='close' data-dismiss='alert')
          span(aria-hidden='true') &times;
          span(class='sr-only') Close
        | You have exceeded the number of messages allowed in a short time. Please wait.

      div.footer.navbar-fixed-bottom(id='chatControls')
        input(type='text' maxlength='140' id='messageInput')
        button.btn.btn-primary.btn-sm(id='submit')
          |Send &nbsp;
          i.glyphicon.glyphicon-send

    script(src='http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyA-cOJs2xiZt6-SkeE2a4Y7yOJa_8-ahjU')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='validator.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='bootstrap-tour.min.js')
    script(src='markerwithlabel.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='script.min.js')
