/* CheatChat StyleSheet */

/* Speech Bubble Effect */
.bubbleLeft
{
    position: relative;
    width: 60%;
    /*height: 120px;*/
    padding: 0px;
    background: #F2C250;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #F2C250 solid 5px;
    word-wrap: break-word;
}

.bubbleLeft:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #F2C250 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 22px;
}

.bubbleLeft:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 19px 19px;
    border-color: #F2C250 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -24px;
    left: 18px;
}

.bubbleRight
{
    position: relative;
    width: 60%;
    /*height: 120px;*/
    padding: 0px;
    background: #D5D5D5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #D5D5D5 solid 5px;
    word-wrap: break-word;
    float: right;


}

.bubbleRight:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #D5D5D5 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    right:22px;
    float: right;

}

.bubbleRight:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 19px 19px;
    border-color: #D5D5D5 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -24px;
    right:18px;
    float: right;

}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}